main{
    background: linear-gradient(45deg, #0c30496e, rgba(255,255,255,0.8435749299719888) 100%);
    font-weight: nth($font-weight, 3);
    .hero{
        text-align: center;
        background: radial-gradient(circle, rgba(63,94,251,0.4150035014005602) 0%, rgba(0,0,0,0.711922268907563) 55%), url(../img/hero-fondo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        color: $color-base;
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        h2{
            color: $color-base;
            font-size: 40px;
            padding: 15px
        }
        p{
            text-align: center;
            font-size: 150%;
        }
        div{
            a{
                font-size: 2em;
                text-decoration: none;
                color: map-get($boton, color-texto);
                background-color: map-get($boton, color-fondo);
                padding: 0.5em;
                border-radius: 10px;
                font-style: italic;
                font-weight: nth($font-weight, 7);
                border: map-get($boton, borde-boton);
                display: inline-block;
                transition: 1s;
                &:hover {
                    background-color: $color-base;
                    color: $color-primario;
                }
            }
        }
    }
    .personalizados{
        .todo{
            @extend %flexbox;
            flex-wrap: wrap;
            .imagen{
                img{
                    width: 100%;
                    height: 40vh;
                }
            }
            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                p{
                margin: 4%;
                width: 100%;
                }
                a{
                    font-size: 200%;
                    color: map-get($boton, color-texto);
                    background-color: map-get($boton, color-fondo);
                    text-decoration: none;
                    text-align: center;
                    margin: 20px;
                    padding: 10px;
                    border-radius: 10px;
                    border: map-get($boton, borde-boton);
                }
            }
        }
    }
}