section{
    .infoContainer{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        height: 80vh;
        p{
            text-align: justify;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 95%;
            height: 100%;
            margin: auto;
        }
        img{
            margin: auto;
            width: 90%;
            height: 93%;
            max-height: 610px;
            max-width: 580px;
        }
    }
}
section{
    .experiencias{
        height: 100vh;
        max-height: 890px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        ul{
            width: 90%;
            li{
                font-size: 120%;
            }
        }
        img{
            height: 40%;
            width: 50%;
            margin: 15px auto;
        }
    }
} 