footer{
    background-color: $color-primario;
    color: $color-base;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    div{
        a{
            img{
                width: 40px;
                height: 40px;
            }
        }
    }
}
