footer{
    background-color: $color-primario;
    color: $color-base;
    @extend %flexbox;
    flex-wrap: wrap;
    padding: 10px;
    border-top: solid 1px white;
    div{
        a{
            img{
                width: 40px;
                height: 40px;
            }
        }
    }
}
