header{
    background-color: $color-primario;
    position: sticky;
    top: 0%;
    z-index: 1;
    .bg-custom{
        background-color: $color-primario;
        div{
            .matesLogo{
                    width: 50%;
                a{
                    .logo{
                        width: 10%;
                        height:20%; 
                        min-width: 38px;
                        min-height: 38px;
                        max-width: 65px;
                        max-height: 65px;
                    }
                }
            }
        }
    }
}