//* Variables
$color-primario: #00243D;
$color-secundario: #0c30496e;
$color-terciario: rgba(169, 212, 182, 0.7960784314);
$color-base: white;

//* Listas
$font-weight: (100, 200, 300, 400, 500, 600, 700);

//* Mapas
$boton:(
    color-fondo: #0c30496e,
    color-texto: white,
    borde-boton: 1px white solid,
);

//* Extends
%flexbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
}